body{
   /* background-image: url("./Track_Stadium_CRF_Pic_Lights_Finish.jpg") ; */
   background-color: red;
}
p{
    color: antiquewhite;
}
img Blair_Portrait {
    width: 50%;
    height: 50%;
}